# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alejhern <alejhern@student.42barcelon      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/07/10 17:10:04 by alejhern          #+#    #+#              #
#    Updated: 2025/07/10 17:10:07 by alejhern         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.vscode/
philo
*.o
